<div class="col-md-12 main">
  <h1 class="page-header">Dashboard</h1>
  <div class="text-center" id="tf-services">
    <div class="container">
      <div class="section-title center">
        <h2>
          <strong>How to create foosball game</strong>
        </h2>
        <div class="line">
          <hr>
        </div>
      </div>
      <div class="title-service">Create foosball game process</div>
      <div class="space"></div>
      <div class="row">
        <%= link_to new_user_path, class: 'circle-link' do %>
          <div class="col-sm-3 service">
            <i class="fa fa-user-plus"></i>
            <h4>
              <strong>1. Create user</strong>
            </h4>
            <p>Create new users for the team</p>
          </div>
        <% end %>
        <%= link_to new_match_path, class: 'circle-link' do %>
          <div class="col-sm-3 service">
            <i class="fa fa-check"></i>
            <h4>
              <strong>2. Create match</strong>
            </h4>
            <p>By select exists user in system to each team.</p>
          </div>
        <% end %>
        <%= link_to matches_path, class: 'circle-link' do %>
          <div class="col-sm-3 service">
            <i class="fa fa-edit"></i>
            <h4>
              <strong>3. Update match result</strong>
            </h4>
            <p>Update result for the match.</p>
          </div>
        <% end %>
        <%= link_to matches_path, class: 'circle-link' do %>
          <div class="col-sm-3 service">
            <i class="fa fa-trophy"></i>
            <h4>
              <strong>4. Result</strong>
            </h4>
            <p>You can check all results of all matches in list of matches page.</p>
          </div>
        <% end %>
      </div>
      <div class="space"></div>
    </div>
  </div>
  <h2 class="sub-header">Top Foosballer</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="15">#</th>
          <th>Full Name</th>
          <th>Matches</th>
          <th>Win</th>
          <th>Lost</th>
          <th>Win Percent</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Lorem</td>
          <td>ipsum</td>
          <td>dolor</td>
          <td>sit</td>
          <td>50%</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>